
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/GenoPrimer.iml
.idea/modules.xml
__pycache__/utils.cpython-38.pyc
__pycache__/utils.cpython-310.pyc
__pycache__/
.idea/
production_data/
test_data/fromKibeom.gRNAout.csv
test_data/fromKibeom.gRNAout.primer.csv
test_data/hard_cutsites.primer.csv
test_data/fromKibeom.primers.csv
test_data/fromKibeom.gRNAoutAll.primer.csv
test_data/fromKibeom.gRNAoutAll.csv.log.txt
test_data/fromKibeom.gRNAout.primer.csv
test_data/fromKibeom.gRNAout.primer.xlsx
test_data/fromKibeom.gRNAoutAll.csv
test_data/fromKibeom.primers.csv
test_data/fromKibeom.gRNAout.primer.csv
test_data/hard_cutsites.csv
test_data/fromKibeom.gRNAout.primer.csv
